* {
    box-sizing: border-box;
}

body{
    background-color: #AEEEFE;
}
h2, h1{
    background-color: #0790B3;
    font-family: "Roboto Mono", monospace;
}
p, li {
    font-family: monospace;
    font-size: 15px;
}

#minha-foto {
    float: left;
    height: 234px;
}

.image-conteiner {


}

.meunome {
    text-align: center;
}
.skillss {

}

#descricao {
    padding-left: 248px;

}

/* div {
    border: 2px solid black;
} */